/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --font-family-principal: "Montserrat", sans-serif;
  --font-family-secondaire: "Nunito Sans", sans-serif;
  --font-family-tertiaire: "Roboto Slab", sans-serif;
  --color-principal: #060000;
  --color-secondaire: #8e4504;
  --color-tertiaire: #ffffff;
  --color-inherit: inherit;
  --box-shadow-principal: 5px 5px 5px -2px rgba(0, 0, 0, 0.6);
  --btn-border: 1px solid var(--color-secondaire);
  --btn-border-radius: 5px;
}

body {
  background-color: var(--color-tertiaire);
  color: var(--color-principal);
  font-family: var(--text-principal);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* .video {
  height: 50rem;
  object-fit: cover;
  position: absolute;
  left: -37.8rem;
  top: 1.5rem;
  bottom: 0;
  z-index: -1;
} */

.header-base {
  background-image: url(../../../App/src/img/Image_Gems_Bijoux_Atelier_2.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 52%;
  background-position-y: 30px;
}

.header {
  position: fixed;
  width: 100%;
}

.bandeau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  background-color: var(--color-secondaire);
}

.bandeau-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
  font-family: var(--font-family-tertiaire);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--color-tertiaire);
  cursor: default;
}

nav {
  position: fixed;
  width: 100%;
  background: var(--color-inherit);
  z-index: 999;
}

.nav-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 15px;
  text-align: center;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-connect {
  position: absolute;
  top: 60px;
  left: 12px;
  font-size: 12px;
  padding: 10px;
  z-index: 999;
  cursor: default;
}

.nav-container-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titre {
  font-family: var(--font-family-principal);
  font-size: 24px;
  letter-spacing: 1px;
  margin-right: 10px;
  font-weight: 400;
  color: var(--color-principal);
  cursor: default;
}

.nav-container {
  height: 35px;
}

.nav-menu {
  width: 130px;
  padding: 5px 15px;
  border-right: 1px solide var(--color-inherit);
  margin-left: -100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 0 0 5px 0;
}

.nav-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--font-family-secondaire);
  margin: 8px 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-principal);
}

.nav-menu a:hover {
  color: var(--color-secondaire);
}

.nav-menu a.active {
  color: var(--color-secondaire);
}

.ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 10px 10px;
  width: 65px;
  height: 1px;
  border-radius: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--color-principal);
}

.nav-icon-left,
.nav-icon-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-icon-left span,
.nav-icon-right span {
  margin: 5px;
  width: 20px;
  color: var(--color-principal);
}

.nav-icon-left span:hover,
.nav-icon-right span:hover {
  color: var(--color-secondaire);
}

.btn-header {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.btn-nos-bijoux {
  width: 143px;
  height: 47px;
  margin-left: 20vw;
  font-size: 12px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--color-secondaire);
  border-radius: 5px;
  border: 1px solid var(--color-secondaire);
  -webkit-box-shadow: var(--box-shadow-principal);
  box-shadow: var(--box-shadow-principal);
  color: var(--color-tertiaire);
  cursor: pointer;
}

.btn-nos-bijoux:hover {
  color: var(--color-secondaire);
  background-color: var(--color-tertiaire);
}

/* MAIN */

main {
  background-color: var(--color-tertiaire);
}

.page-title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
}

.article {
  padding: 20px 10px;
}

.categorie {
  text-align: center;
}

.categorie-titre {
  font-family: var(--font-family-principal);
  font-weight: 400;
  text-transform: uppercase;
  cursor: default;
}

.categorie-p {
  padding: 20px;
  margin-bottom: 10px;
  font-family: var(--font-family-secondaire);
  color: var(--color-secondaire);
  cursor: default;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-article {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-lien {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

img.card-img {
  width: 60%;
  margin-bottom: 15px;
}

.card-titre {
  font-family: var(--font-family-principal);
  color: var(--color-secondaire);
  cursor: default;
  font-size: 16px;
  text-transform: uppercase;
}

.card-titre {
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--font-family-principal);
  color: var(--color-secondaire);
  cursor: default;
}

.card-p {
  padding: 20px;
  font-family: var(--font-family-secondaire);
  font-size: 12px;
  text-align: center;
  cursor: default;
}

.form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-voir {
  width: 40%;
  height: auto;
  margin: 20px 0;
  padding: 5px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--color-secondaire);
  border: 1px solid var(--color-secondaire);
  border-radius: var(--btn-border-radius);
  -webkit-box-shadow: var(--box-shadow-principal);
  box-shadow: var(--box-shadow-principal);
  color: var(--color-tertiaire);
  cursor: pointer;
}

.btn-voir:hover {
  color: var(--color-secondaire);
  background-color: var(--color-tertiaire);
}

/* Banniere photo */

.banniere-img-un {
  width: 100%;
  background: url(../../src/img/Image_Gems_Bijoux_Atelier_India.jpg);
  height: 400px;
  background-size: cover;
}
.banniere-img-deux {
  width: 100%;
  background: url(../../src/img/Image_Gems_Bijoux_Atelier_India_2.jpg);
  height: 400px;
  background-size: cover;
}
.banniere-img-trois {
  width: 100%;
  background: url(../../src/img/Image_Gems_Bijoux_Atelier_Celtique.jpg);
  height: 400px;
  background-size: cover;
  background-position-x: center;
}
.banniere-img-quatre {
  width: 100%;
  background: url(../../src/img/Image_Gems_Bijoux_Atelier.jpg);
  height: 400px;
  background-size: cover;
}

.banniere-img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.btn-collection {
  width: 100px;
  margin: 20px 40px 40px;
  padding: 5px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  background: var(--color-secondaire);
  border-radius: 5px;
  border: 1px solid var(--color-secondaire);
  -webkit-box-shadow: var(--box-shadow-principal);
  box-shadow: var(--box-shadow-principal);
  color: var(--color-tertiaire);
  text-transform: capitalize;
  cursor: pointer;
}

.btn-collection:hover,
.btn-creeCat:hover {
  background-color: var(--color-tertiaire);
  color: var(--color-secondaire);
  border: 1px solid var(--color-secondaire);
}

/* FOOTER */

footer {
  width: 100%;
  background: var(--color-secondaire);
}

footer a {
  color: var(--color-principal);
}

.div-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-col {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.div-col > * {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 10px;
}

.div-col > h3 {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--color-tertiaire);
  cursor: default;
}

.div-col > a {
  font-size: 12px;
  padding: 5px 0;
}

.div-col > a:hover {
  color: var(--color-tertiaire);
}

.icon-reseau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.fb,
.insta {
  color: var(--color-tertiaire);
  cursor: pointer;
}

.fb:hover {
  color: #3b5998;
  background-color: var(--color-tertiaire);
}
.insta:hover {
  background: #d6249f;
  background: -o-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  color: var(--color-tertiaire);
}

.pied-page {
  width: 100%;
  padding: 5px;
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--color-tertiaire);
  background: var(--color-principal);
}

.pied-page div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* CSS AVEC LE JS */

.nav-titre.scroll,
.nav-menu.scroll {
  background-color: var(--color-tertiaire);
}

.mobile-menu {
  margin-left: 0;
}

/* .nav-container {
  height: 100px;
  background: var(--color-tertiaire);
}

.recherche {
  display: flex;
  justify-content: center;
}

.recherche-loupe {
  width: 180px;
  margin-top: 25px;
  border: 0px;
}

.recherche-icon-cross img {
  margin-top: 25px;
  padding: 0 15px;
  width: 10px;
  color: var(--color-principal);
} */

/* PAGE USER */
/* PAGE LOGIN-USER */

.header-user {
  height: auto;
}

.header-user .nav-titre,
.header-admin .nav-titre {
  background: var(--color-tertiaire);
}

.section-user,
.section-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.85);
}

.div-section-user,
.div-main-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.form-title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 59px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.form-user,
.form-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-user label,
.form-admin label {
  font-size: 14px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.form-user input,
.form-admin input {
  display: block;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--color-principal);
  margin-bottom: 20px;
  background: inherit;
}

.etoile-form {
  color: var(--color-secondaire);
}

.icon-mdp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-mdp span {
  margin: 0 10px 0;
  cursor: pointer;
}

.lien-loginUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lien-loginUser a {
  text-decoration: none;
  font-family: "Siemreap";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  color: var(--color-principal);
  cursor: pointer;
}

.lien-loginUser a:hover {
  color: var(--color-secondaire);
}

.btn-form {
  width: 143px;
  height: 47px;
  margin: 10px 0 20px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--color-secondaire);
  border: var(--btn-border);
  -webkit-box-shadow: var(--box-shadow-principal);
  box-shadow: var(--box-shadow-principal);
  border-radius: 5px;
  color: var(--color-tertiaire);
  cursor: pointer;
}

.btn-form:hover {
  color: var(--color-secondaire);
  background: var(--color-tertiaire);
}

.error {
  font-size: 16px;
  color: var(--color-secondaire);
  text-align: center;
  margin-bottom: 10px;
}

/* PAGE BIJOUX */
/* HEADER */

.header-listBijouxByCategorie {
  /* background-image: url(../../../App/src/img/Image_Gems_Bijoux_Atelier_2.png); */
  background-image: none;
  height: 20vh;
}

.header-listBijoux {
  /* background-image: url(../../../App/src/img/Image_Gems_Bijoux_Atelier_2.png); */
  background-image: none;
  height: 20vh;
}

.header-ficheBijoux {
  background: var(--color-tertiaire);
  height: auto;
}

.header-listBijouxByCategorie .nav-titre,
.header-listBijoux .nav-titre,
.header-ficheBijoux .nav-titre {
  background-color: var(--color-tertiaire);
}

/* PAGE FICHE-BIJOUX */

.card-ficheBijoux {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-ficheBijoux .page-title {
  color: var(--color-secondaire);
  margin-bottom: 20px;
}

.header-ficheBijoux .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-img-fiche {
  width: 120px;
  height: 120px;
}

.card-p-fiche {
  color: var(--color-secondaire);
  font-size: 18px;
}

.header-ficheBijoux .btn-voir {
  width: 100px;
}

/* PAGE ADMIN */
.header-admin {
  background-image: url(../../../App/src/img/Image_Gems_Bijoux_Atelier_2.png);
  height: auto;
}

.section-admin {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.85);
}

.div-main-admin {
  margin-top: 100px;
  text-align: center;
}

.main-gestion {
  margin: 50px 0 70px;
}

.main-gestion form {
  display: inline-block;
}

#id-description {
  background: none;
  margin-bottom: 10px;
}

.btn-admin {
  width: 110px;
  height: 35px;
  margin: 20px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--color-secondaire);
  border: var(--btn-border);
  -webkit-box-shadow: var(--box-shadow-principal);
  box-shadow: var(--box-shadow-principal);
  border-radius: 5px;
  color: var(--color-tertiaire);
  cursor: pointer;
  text-transform: capitalize;
}

.btn-admin:hover {
  color: var(--color-secondaire);
  background: var(--color-tertiaire);
}

.retour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--color-principal);
  margin: 10px;
}

.retour:hover {
  color: var(--color-secondaire);
}

/* PAGE ADMIN GESTION */
.div-gestion-admin {
  width: 100%;
  margin-top: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.table-cat {
  border: 2px solid var(--color-secondaire);
  margin: 10px;
}

.table-cat th,
.table-cat td {
  width: 10%;
  text-align: center;
  text-transform: capitalize;
}

.table-cat tr {
  font-size: 12px;
}

.img-admin img {
  width: 40px;
  height: 40px;
}

.btn-gestionAdmin {
  width: 70px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  background: var(--color-secondaire);
  border: var(--btn-border);
  -webkit-box-shadow: var(--box-shadow-principal);
  box-shadow: var(--box-shadow-principal);
  border-radius: 5px;
  color: var(--color-tertiaire);
  cursor: pointer;
}

.form-btncreeCat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}

.btn-modifier {
  background: #001f98;
  border: #001f98;
}

.btn-supprimer {
  background: red;
  border: red;
}

.btn-creeCat {
  width: 100px;
  margin: 20px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background: var(--color-secondaire);
  border: var(--btn-border);
  -webkit-box-shadow: var(--box-shadow-principal);
  box-shadow: var(--box-shadow-principal);
  color: var(--color-tertiaire);
}

/* PAGE ADMIN UPDATE */
.form-admin #id-image {
  border: none;
}

.div-selecteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-selecteur label {
  padding: 0;
}

.div-selecteur select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  background: inherit;
  text-transform: capitalize;
}
/* PAGE ADMIN UPDATE BIJOUX */

.update-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* PAGE ADMIN UPDATE USER */

.table-cat .user-nom {
  text-transform: uppercase;
  font-size: 10px;
}
.table-cat .user-email {
  text-transform: lowercase;
  font-size: 10px;
}
.table-cat .user-role {
  text-transform: lowercase;
  font-size: 8px;
}

.gestion-user .btn-gestionAdmin {
  width: 50px;
}

@media (min-width: 920px) {
  .header-base {
    background-position-y: 100px;
  }

  .bandeau-text {
    font-size: 14px;
  }

  nav {
    background: var(--color-tertiaire);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .nav-container {
    height: 90px;
  }

  .titre {
    font-size: 30px;
  }

  .nav-connect {
    top: 40px;
    left: 60px;
    font-size: 14px;
  }

  .icon-burger span {
    display: none;
  }

  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    /* height: 50px; */
    margin-left: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  .nav-menu a {
    margin: 0 10px;
    font-size: 16px;
  }

  .ligne {
    display: none;
  }

  .btn-header {
    height: 40vw;
  }

  /* MAIN */

  .categorie-titre {
    font-size: 30px;
  }
  .categorie-p {
    font-size: 20px;
  }

  .card-titre {
    font-size: 20px;
  }

  .card-p {
    font-size: 16px;
  }

  .card-article {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
  }

  img.card-img {
    width: 50%;
    margin-bottom: 15px;
  }

  .btn-voir {
    font-size: 18px;
  }

  .banniere-span-un {
    background-position-y: center;
  }

  .banniere-img-deux {
    background-position-y: top;
  }

  .banniere-img-trois {
    background-position-y: center;
  }

  /* FOOTER */

  .div-col > h3 {
    font-size: 22px;
  }

  .div-col > a {
    font-size: 18px;
  }

  .social {
    margin: 20px;
    width: 50px;
    height: 50px;
    font-size: 35px;
  }

  /* PAGE USER */

  .header-user .nav-menu {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  /* PAGE BIJOUX */

  .header-ficheBijoux .container {
    width: 100%;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-ficheBijoux .container-left,
  .header-ficheBijoux .container-right {
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }

  .card-img-fiche {
    width: 320px;
    height: 320px;
    margin-left: 50px;
  }

  .header-ficheBijoux .btn-voir {
    width: 120px;
  }

  /* PAGE ADMIN */
  .div-section-user,
  .div-main-admin {
    margin-top: 160px;
  }

  .main-gestion {
    margin-top: 100px;
    padding: 40px;
  }

  .btn-admin {
    width: 143px;
    height: 47px;
  }

  /* PAGE ADMIN GESTION */
  .table-cat {
    margin: 20px 50px;
  }
  .table-cat tr {
    font-size: 14px;
  }

  .table-cat th,
  .table-cat td {
    padding: 10px;
  }

  .btn-gestionAdmin {
    width: 100px;
    height: 30px;
    font-size: 16px;
  }

  .btn-creeCat {
    width: 140px;
    font-size: 14px;
  }
  /* PAGE ADMIN UPDATE USER */

  .table-cat .user-nom,
  .table-cat .user-email,
  .table-cat .user-role {
    font-size: 14px;
  }

  .gestion-user .btn-gestionAdmin {
    width: 100px;
  }
}
